[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
matplotlib = "*"
seaborn = "*"
scikit-learn = "*"
torch = "*"
tensorflow = "*"
pipfile = "*"
transformers = "*"
gensim = "*"
praw = "*"
spacy = "*"
nltk = "*"
statsmodels = "*"

[dev-packages]

[requires]
python_version = "3.8"
